---
---
html, body {
  background-color: #101010 !important;
  color: #101010 !important;
  font-family: 'Inter', Arial, sans-serif !important;
}

h1, h2, h3, h4, p, a, li, span, .post-title, .post-content {
  font-family: 'Inter', Arial, sans-serif !important;
  color: #dfdfdf !important;
}

a {
  color: #a78bfa !important;
} 

.wrapper, .site-header, .site-footer {
  background-color: #101010 !important;
  border: none !important;
}
header .site-title, 
header .site-title:visited {
    background-image: url("/assets/logo.png") !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    background-position: left center !important;
    color: transparent !important; 
    text-indent: -9999px !important; 
    overflow: hidden !important;
    display: inline-block !important;
    width: 240px !important; 
    height: 60px !important;  
    margin-left: -15px !important; 
    vertical-align: middle !important;
}

header .site-title:hover {
    opacity: 0.8 !important;
    text-decoration: none !important;
}
