---
---
@import "{{ site.theme }}";

body {
  background-color: #121212;
  color: #e0e0e0;           
}

a {
  color: #4fbcff;            
}

/* layout for lines of code */
code {
  background: #272822;
  color: #f8f8f2;
  padding: 2px 5px;
  border-radius: 3px;
}
