---
---
@import "{{ site.theme }}";

body {
  background-color: #121212 !important;
  color: #e0e0e0 !important;
}

a {
  color: #4fbcff !important;
}

/* layout for lines of code */
code {
  background: #272822 !important;
  color: #f8f8f2 !important;
  padding: 2px 5px !important;
  border-radius: 3px !important;
}
